// Fonts
$font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !default;

// Colors
$color-primary:   #5176cd0e1830 !default;
$color-secondary: # !default;

$gray-100:        #d9e0e0 !default;
$gray-200:        #ccd5d5 !default;
$gray-300:        #c0cbcb !default;
$gray-400:        #b4c1c1 !default;
$gray-500:        #a7b7b7 !default;
$gray-600:        #8fa4a4 !default;
$gray-700:        #0e1830 !default;

$yellow-pale:     #f8edb6 !default;
$yellow-mid:      #f8cc66 !default;
$yellow-high:     #e8aa12 !default;  

// Border radius
$border-radius: 0px;

// Box shadow
$box-shadow:          0 3px 10px 0 rgba($gray-600,.1) !default;
$box-shadow-white-bg: 0 3px 10px 0 rgba($gray-600,.15) !default;
$box-shadow-sm:       0 1px 4px 0 rgba($gray-600,.1) !default;

// Container max width
$container:    1140px !default;
$container-sm: 555px !default;
$container-md: 750px !default;
$container-lg: 945px !default;

// Container padding
$container-padding: 4vw !default;

// Grid gap
$grid-gap: 1.66667rem !default;

// Theme variations
$theme-fonts: (
  nunito-sans: ("Nunito Sans", sans-serif),
  roboto: ("Roboto", sans-serif),
  fira-sans:   ("Fira Sans", sans-serif),
  system-sans: (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif)
);

$theme-palettes: (
  cyan: (
    primary:   #2cb1bc,
    secondary: #54d1db
  ),
  green: (
    primary:   #37b05d,
    secondary: #57cb85
  ),
  orange: (
    primary:   #fe8c00,
    secondary: #f83600
  ),
  purple: (
    primary:   #653cad,
    secondary: #8662c7
  )
);
